.footer-section {
    background: #B9121B;
    padding: 5em 0;    
}

.footer-column h4 {
    
    color: #fff;
    margin-bottom: .5em;
}
.footer-column p {    
    color: #eee;
    line-height: 1.8em;
}


.footer-blanco{    
    color:#fff;
}


