.google-maps {
    position: relative;
    margin-bottom: -20%;
    padding-bottom: 75%;
    height: 100%;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 75% !important;

}

@media (min-width: 400px) {
    .google-maps {
        position: relative;
        margin-bottom: 10%;
        padding-bottom: 75%;
        height: 100%;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;

        top: 0;
        left: 0;
        height: 100% !important;
    }
}

@media (min-width: 768px) {
    .google-maps {
        position: relative;
        margin-bottom: -20%;
        padding-bottom: 75%;
        height: 100%;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 75% !important;
    }
}

@media (min-width: 992px) {
    .google-maps {
        position: relative;
        margin-bottom: -20%;
        padding-bottom: 75%;
        height: 100%;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 75% !important;
    }
}

@media (min-width: 1200px) {
    .google-maps {
        position: relative;
        margin-bottom: -20%;
        padding-bottom: 75%;
        height: 100%;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 75% !important;
    }
}