.title-logo {
    font-family: 'Playfair Display', serif;
}

.title-Address {
    font-family: 'Arapey', serif;
    font-size: 30px;
}

.bg-while-line {
    background: #ffffff;
    border-top: 2px solid #c8ced4 !important;
}

.text-while {
    color: #c8ced4 !important;
}

.servicio-background {

    background-color: #e9ecef;
}

.block-one {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.925), rgba(0, 0, 0, 0.925)), url('../imagenes/main.jpg') center center;
    background-size: cover;
    min-height: 105vh;

}


.banner_font {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
}




@media (min-width: 400px) {
    .title-logo1 {
        font-size: 3.8rem;
        line-height: 1.2;
    }
}


@media (min-width: 768px) {
    .title-logo1 {
        font-size: 3.8rem;
        line-height: 1.2;
    }
}

@media (min-width: 992px) {
    .title-logo1 {
        font-size: 4.5rem;
    
        line-height: 1.2;
    }
}

@media (min-width: 1200px) {
    .title-logo1 {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
}