html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
}

.h1-azul {
    color: #0089ff;
}

.h1-red {
    color: #ff0000;
}

.h2-block-text {
    font-size: 2.5rem;
    line-height: 1.2;
}

.text-while {
    color: #c8ced4 !important;
}

.servicio-background {
    background-color: #e9ecef;
}

.block-one {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.925), rgba(0, 0, 0, 0.925)), url('../imagenes/main.jpg') center center;
    background-size: cover;
    min-height: 105vh;
}


.banner_font {
    margin: 0.3em 0 0.3em 0;
    font-family: 'Playfair Display', serif;
    font-size: 34px;
}

.bloque-standar {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.86), rgba(0, 0, 0, 0.86)), url('../imagenes/glass01.jpg') center center;
    background-size: cover;
    min-height: 90vh;
    transition: all 0.3s linear 0s;
}

.bloque-sector01 {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.86), rgba(0, 0, 0, 0.86)), url('../imagenes/glass01.jpg') center center;
    background-size: cover;
    min-height: 90vh;
    transition: all 0.3s linear 0s;
}

.bloque-sector02 {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.86), rgba(0, 0, 0, 0.86)), url('../imagenes/sectoroffices.jpg') center center;
    background-size: cover;
    min-height: 90vh;
    transition: all 0.3s linear 0s;
}

.bloque-sector03 {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.86), rgba(0, 0, 0, 0.86)), url('../imagenes/sectorhogar.jpg') center center;
    background-size: cover;
    min-height: 90vh;
    transition: all 0.3s linear 0s;
}

.bloque-proveedores {
    padding: 5em;
}

.year-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    background-color: #fff;
}

.growsector:hover {
    transform: scale(1.03);
    animation-delay: 0.9s;
}

.pulse {
    margin: 50px;
    width: 40px;
    height: 40px;
    animation: pulse 3s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 360px) {
    .h1-block-text {
        font-size: 2.9rem;
        line-height: 1.2;
    }

    .h2-block-text {
        font-size: 2.6rem;
        line-height: 1.2;
    }
}

@media (min-width: 400px) {
    .h1-block-text {
        font-size: 2.9rem;
        line-height: 1.2;
    }

    .h2-block-text {
        font-size: 3.1rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .h1-block-text {
        font-size: 4.5rem;
        line-height: 1.2;
    }

    .h2-block-text {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

@media (min-width: 992px) {
    .h1-block-text {
        font-size: 4.9rem;
        line-height: 1.2;
    }

    .h2-block-text {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

@media (min-width: 1200px) {
    .h1-block-text {
        font-size: 5.1rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .h2-block-text {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}